:root {
    --font1: rgb(221, 97, 97);
    --font2: rgb(243, 208, 241);
    --box-background: rgb(240, 212, 212);
    --background1: rgb(10, 14, 11);
    --gradient: linear-gradient( rgb(221, 97, 97), black)
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Tahoma, "Arial Narrow", Arial, "Helvetica Condensed", Helvetica, sans-serif;
    background-color: var(--background1);
}

/* -------------------------NAV------------------------- */

.nav {
    width: 100vw;
    height: 13vh;
    padding: 10px 10px 10px;
    margin: auto;
    justify-content: center;
    display: flex;
    align-items: center;
    border-bottom: solid 2px var(--font1);
}

.nav h1 {
    margin-left: 40px;
    color: var(--font1);
    font-size: 2rem;
}

.nav h2 {
    margin-right: 40px;
    margin-left: auto;
}

nav button {
    margin: auto;
    align-items: center;
    width: fit-content;
    padding: 5px;
    background-image: var(--gradient);
    display: flex;
    color: var(--box-background);
    height: 50px;
    border-radius: 5px;
}

.nav h2 a {
    text-decoration: none;
    color: var(--font1);
}

.nav h2 a:hover {
    text-shadow: 2px 2px 20px var(--box-background);
}

/* -------------------------SETTINGS------------------------- */

#settingsCard {
    color: var(--font1);
    display: flex;
    flex-direction: column;
    height: 70vh;
    width: 35vw;
    justify-content: center;
    align-items: center;
}



.buttons button {
    margin-top: 20px auto 20px;
    background-image: var(--gradient); 
    color: var(--background1);
    font-weight: bolder;
    border-radius: 50%;
    height: 25vw;
    width: 25vw;
    font-size: 150%;
}

/* -------------------------BLOGFORM------------------------- */

main {
    width: 100vw;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.card {
    border: solid 2px var(--font1);
    margin: 10px 30px 10px;
    height: 80vh;
    padding: 20px 20px 20px;
    width: 45vw;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}


#blogForm {
    color: var(--font1);
    display: flex;
    flex-direction: column;
    height: 70vh;
    width: 35vw;
}

#formTitle {
    font-size: 2rem;
    margin: 5px auto 5px;
}

.formH3 {
    font-size: 1.5rem;
    padding: 10px;
    margin: 10px 10px 10px;
}

.inputSection::selection {
    text-shadow: 2px 2px 20px var(--box-background);
}

#usernameInput {
    height: 35px;
}

#titleInput {
    height: 35px;
}

#contentInput {
    height: 100px;
}

form button {
    margin-top: 20px;
    background-color: var(--font1);
    color: var(--box-background);
    font-weight: bolder;
    height: 40px;
}

form button:hover {
    text-shadow: 5px 5px 20px var(--box-background);
    cursor: pointer;
}

/* -------------------------FOOTER------------------------- */

footer {
    border-top: solid var(--font1) 2px;
    display: flex;
    line-height: 1.5rem;
    min-height: 20vh;
    width: 100vw;
    flex-direction: column;
    align-items: center;
}

footer p {
    margin-top: px;
    margin-bottom: 20px;
    color: var(--font1);
}

.contact {
    color: var(--font1);
    margin-top: 20px;
    text-align: center;
    height: 100px;
 
}

.contact h2 {
    margin-bottom: 10px;
}

.contact a {
    color: var(--font1);
    padding: 10px 0px 10px ;
    margin: 10px 0px 10px;
}

.contact a:hover {
    text-shadow: 2px 2px 20px var(--box-background);
}

/* -------------------------MEDIA SCREEN------------------------- */

@media(max-width: 1250px) {
    .card {
        width: 35vw;
    }
}

 @media (max-width: 830px) {
    .nav {
        height: 30vh;
        flex-direction: column;
        justify-content: center;
    }
    .nav h2 {
        margin: auto;
    }
    .nav h1 {
        margin: auto;
    }
    .nav button {
        margin: auto;
    }
    .card {
        width: 90vw;
    }
    #blogForm {
        width: 80vw;
    }
    .buttons button {
        width: 60vw;
        height: 60vw;
    }
 } 